body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0 30px;
}

.pages {
  display: flex;
  flex-direction: column;
  height: 92vh;
}

.navbar {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}
